<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppWindsFormTAREA1.Properties.Settings.FinancieraConnectionString"
            connectionString="Data Source=LAPTOP-JPT9OU7O\SQLEXPRESS01;Initial Catalog=Financiera;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>